{% extends 'employee/staff_base.html' %}

{% block title %}گزارش گیری ادمین{% endblock title %}

{% block content %}
<br>
<div class="row">
    <div class="col border p-4 m-1 bg-success rounded">
        <div><b>مشتریان</b></div>
        <div class="text-end">{{customer_no}}</div>
    </div>
    <div class="col border p-4 m-1 bg-warning rounded">
        <div><b>کارمندان</b></div>
        <div class="text-end">{{staff_no}}</div>
    </div>
    <div class="col border p-4 m-1 bg-danger rounded">
        <div><b>بازدید های امروز</b></div>
        <div class="text-end">{{today_checked}}</div>
    </div>
    <div class="col border p-4 m-1 bg-info rounded">
        <div><b>سفارشات ثبت شده امروز</b></div>
        <div class="text-end">{{today_orders.count}}</div>
    </div>
</div>
<br><br>
<table class="table table-dark table-striped caption-top">
    <caption>سفارشات ثبت شده امروز</caption>
    <thead>
    <tr>
        <th scope="col">کاربر</th>
        <th scope="col">تعداد آیتم</th>
        <th scope="col">جمع فاکتور</th>
        <th scope="col">آدرس</th>
        <th scope="col">کد تخفیف</th>
    </tr>
    </thead>
    <tbody>
    {% for order in today_orders %}
    <tr>
        <th scope="row">{{order.owner}}</th>
        <td>{{order.items.count}}</td>
        <td>{{order.final_price}}</td>
        <td>{{order.address}}</td>
        <td>{{order.discount_code}}</td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-outline-info" href="{% url 'today_orders_dl' %}">دانلود لیست سفارشات امروز</a>
{% endblock content %}