{% extends 'base.html' %}

{% block title %}فروشگاه کتاب مکتب{% endblock title %}

{% block content %}
  <div class="container p-4">
    <h3 class="pb-2 border-bottom">پرطرفدارها</h3>
    <div class="row g-4 py-4 row-cols-1 row-cols-md-3 row-cols-lg-4">
      <div class="feature col text-center">
        <div class="feature-icon bg-custom bg-gradient">
            <svg class="bi" width="1em" height="1em"></svg>
        </div>
        <h2 class="mt-2">اسم کتاب</h2>
        <p>نویسنده ها</p>
        <p>قیمت</p>
        <a href="#" class="text-link">
          جزییات
        </a>
      </div>
      <div class="feature col text-center">
        <div class="feature-icon bg-custom bg-gradient">
            <svg class="bi" width="1em" height="1em"></svg>
          </div>
        <h2 class="mt-2">اسم کتاب</h2>
        <p>نویسنده ها</p>
        <p>قیمت</p>
        <a href="#" class="text-link">
          جزییات
        </a>
      </div>
      <div class="feature col text-center">
        <div class="feature-icon bg-custom bg-gradient">
            <svg class="bi" width="1em" height="1em"></svg>
          </div>
        <h2 class="mt-2">اسم کتاب</h2>
        <p>نویسنده ها</p>
        <p>قیمت</p>
        <a href="#" class="text-link">
          جزییات
        </a>
      </div>
      <div class="feature col text-center">
        <div class="feature-icon bg-custom bg-gradient">
            <svg class="bi" width="1em" height="1em"></svg>
          </div>
        <h2 class="mt-2">اسم کتاب</h2>
        <p>نویسنده ها</p>
        <p>قیمت</p>
        <a href="#" class="text-link">
          جزییات
        </a>
      </div>
    </div>
  </div>

  <div class="container p-4">
    <h3 class="pb-2 border-bottom">تازه ها</h3>
    <div class="row g-4 py-4 row-cols-1 row-cols-md-3 row-cols-lg-4">
      <div class="feature col text-center">
          <div class="feature-icon bg-custom bg-gradient">
              <svg class="bi" width="1em" height="1em"></svg>
            </div>
          <h2 class="mt-2">اسم کتاب</h2>
          <p>نویسنده ها</p>
          <p>قیمت</p>
          <a href="#" class="text-link">
            جزییات
          </a>
        </div>
        <div class="feature col text-center">
          <div class="feature-icon bg-custom bg-gradient">
              <svg class="bi" width="1em" height="1em"></svg>
            </div>
          <h2 class="mt-2">اسم کتاب</h2>
          <p>نویسنده ها</p>
          <p>قیمت</p>
          <a href="#" class="text-link">
            جزییات
          </a>
        </div>
        <div class="feature col text-center">
          <div class="feature-icon bg-custom bg-gradient">
              <svg class="bi" width="1em" height="1em"></svg>
            </div>
          <h2 class="mt-2">اسم کتاب</h2>
          <p>نویسنده ها</p>
          <p>قیمت</p>
          <a href="#" class="text-link">
            جزییات
          </a>
        </div>
        <div class="feature col text-center">
          <div class="feature-icon bg-custom bg-gradient">
              <svg class="bi" width="1em" height="1em"></svg>
            </div>
          <h2 class="mt-2">اسم کتاب</h2>
          <p>نویسنده ها</p>
          <p>قیمت</p>
          <a href="#" class="text-link">
            جزییات
          </a>
        </div>
    </div>
  </div>
{% endblock content %}