{% extends 'base.html' %}

{% block title %}{{ user.username }} آدرس های{% endblock title %}

{% block content %}
<br>
<h2>آدرس ها</h2>
<br><br>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">استان</th>
        <th scope="col">شهر</th>
        <th scope="col">محله</th>
        <th scope="col">خیابان</th>
        <th scope="col">کد پستی</th>
        <th scope="col">توضیحات</th>
        <th scope="col">آدرس اصلی</th>
        <th scope="col">ویرایش/حذف</th>
    </tr>
    </thead>
    <tbody>
    {% for address in addresses %}
    <tr>
        <th scope="row">{{ address.state }}</th>
        <td>{{ address.city }}</td>
        <td>{{ address.town }}</td>
        <td>{{ address.street }}</td>
        <td>{{ address.postal_code }}</td>
        <td>{{ address.details }}</td>
        <td>{% if address.is_default %}
            +
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            <div class="btn-group" role="group" aria-label="Default button group">
                <a type="button" class="btn btn-outline-success" href="{% url 'address_edit' address.owner.slug address.pk %}">ویرایش</a>
                <a type="button" class="btn btn-outline-danger" href="{% url 'address_delete' address.owner.slug address.pk %}">حذف</a>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="btn-group" role="group" aria-label="Default button group">
    <a type="button" class="btn btn-success" href="{% url 'address_create' user.slug %}">افزودن آدرس جدید</a>
</div>
{% endblock content %}
