{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-XfhC/Sid4FIGSXYebcOtcSCRFkd/zZzAMVipf0bNWucloRvcKK2/dpVWodQbQ1Ek" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="{% static './css/base.css' %}">

    <title>{% block title %}base{% endblock title %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-custom py-4" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="{% url 'home' %}">فروشگاه کتاب مکتب</a>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">

            <form class="d-flex mx-auto" style="width: 700px;" action="{% url 'search_result' %}" method="get">
                <input class="form-control me-2" name="searchbar" type="search"
                       placeholder="عنوان مورد نظرتان را جستجو نمایید...">
                <button class="btn btn-outline-warning" type="submit">جستجو</button>
            </form>

            <ul class="navbar-nav ms-3 mb-2 mb-lg-0">
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle text-custom" href="#" id="dropdown01" data-bs-toggle="dropdown"
                       aria-expanded="false">کاربر</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="#">سلام{{ user.username }}</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">خروج</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">ورود</a></li>
                            <li><a class="dropdown-item" href="{% url 'signup' %}">عضویت</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cart_items' %}" type="button" role="button" class="btn btn-outline-warning">
                        {% with total_qty=cart|length %}
                            <span id="cart-qty">
                                {% if total_qty > 0 %}
                                    {{total_qty}}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        {% endwith %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
</svg>
                سبد خرید
              </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline bg-custom" aria-label="Secondary navigation">
        <a class="nav-link text-custom" aria-current="page" href="#">دسته بندی ها:</a>
        {% if categories %}
        {% for cat in categories %}
        <a class="nav-link text-custom" href="{{ cat.get_absolute_url }}">{{cat.name}}</a>
        {% endfor %}
        {% endif %}
    </nav>
</div>


<main class="container">
    {% block content %}

    {% endblock content %}
</main>


<footer class="bd-footer pt-5 mt-5 bg-custom">
    <div class="container-fluid text-light">
        <div class="row">
            <div class="col-6 col-lg-2 offset-lg-1 text-dark">
                <h6>لینک ها</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-dark" href="#">درباره ما</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">راهنمای خرید</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">قوانین و مقررات</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">سیاست حفظ حریم شخصی</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 text-dark">
                <h6>خدمات مشتریان</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-dark" href="#">تماس با ما</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">کد های تخفیف</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">انتقادات و پیشنهادات</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 text-dark">
                <h6>محصولات</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-dark" href="{% url 'book_list' %}">کتاب ها</a></li>
                    <li class="mb-2"><a class="text-dark" href="{% url 'category_list' %}">دسته بندی ها</a></li>
                    <li class="mb-2"><a class="text-dark" href="{% url 'author_list' %}">نویسنده ها</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-5 text-end">
                <h5>در شبکه های اجتماعی با ما همراه باشید</h5>

            </div>
        </div>
    </div>
</footer>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->
</body>
</html>