<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-XfhC/Sid4FIGSXYebcOtcSCRFkd/zZzAMVipf0bNWucloRvcKK2/dpVWodQbQ1Ek" crossorigin="anonymous">


    <title>{% block title %}base{% endblock title %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="{% url 'staff_home' %}">
            {% if user.is_superuser %}
            پنل ادمین
            {% else %}
            پنل کارمندان
            {% endif %}
        </a>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">

            <form class="d-flex mx-auto" style="width: 700px;" action="{% url 'search_result' %}" method="get">
                <input class="form-control me-2" name="searchbar" type="search"
                       placeholder="عنوان مورد نظرتان را جستجو نمایید...">
                <button class="btn btn-outline-warning" type="submit">جستجو</button>
            </form>
            <a class="btn btn-outline-warning" href="{% url 'logout' %}">خروج از حساب کاربری</a>
        </div>
    </div>
</nav>

<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline bg-dark" aria-label="Secondary navigation">
        <a class="nav-link text-light" aria-current="page" href="#"
           id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">
            دسترسی ها</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li><a class="nav-link text-dark" aria-current="page" href="{% url 'category_create' %}">افزودن دسته بندی</a></li>
            <li><a class="nav-link text-dark" aria-current="page" href="{% url 'author_create' %}">افزودن نویسنده</a></li>
            <li><a class="nav-link text-dark" aria-current="page" href="{% url 'book_create' %}">افزودن کتاب</a></li>
            <li><a class="nav-link text-dark" aria-current="page" href="{% url 'book_discount_create' %}">افزودن تخفیف کتاب</a></li>
            <li><a class="nav-link text-dark" aria-current="page" href="{% url 'bonus_discount_create' %}">افزودن تخفیف امتیازی</a></li>
            {% if user.is_superuser %}
            <li><a class="nav-link text-dark" aria-current="page" href="{% url 'staff_create' %}">افزودن کارمند</a></li>
            {% endif %}
        </ul>

        <a class="nav-link text-light" href="{% url 'admin:index' %}">مدیریت جنگو</a>
        {% if user.is_superuser %}
        <a class="nav-link text-light" href="{% url 'admin_report' %}">گزارش گیری</a>
        {% endif %}
    </nav>
</div>


<main class="container">
    {% block content %}

    {% endblock content %}
</main>


<footer class="bd-footer pt-5 mt-5 bg-dark">
    <div class="container-fluid text-light">
        <div class="row">
            <div class="col-6 col-lg-2 offset-lg-1">
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-light" href="{% url 'staff_home' %}">کتاب ها</a></li>
                    <li class="mb-2"><a class="text-light" href="{% url 'staff_author' %}">نویسنده ها</a></li>
                    <li class="mb-2"><a class="text-light" href="{% url 'staff_category' %}">دسته بندی ها</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2">
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-light" href="{% url 'book_discount_list' %}">تخفیف های کتاب</a></li>
                    <li class="mb-2"><a class="text-light" href="{% url 'bonus_discount_list' %}">تخفیف های امتیازی</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2">
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-light" href="{% url 'customer_list' %}">مشتری ها</a></li>
                    {% if user.is_superuser %}
                    <li class="mb-2"><a class="text-light" href="{% url 'staff_list' %}">کارمند ها</a></li>
                    {% else %}
                    <li class="mb-2"><a class="text-light" href="#">ارتباط با ادمین</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->
</body>
</html>