{% extends 'base.html' %}

{% block title %}{{category.name}}{% endblock title %}

{% block content %}
<div class="container">
    <br><h2 class="">{{category.name}}</h2><br>
    <div class="list-group">
        {% for book in books %}
                <a class="list-group-item list-group-item-action list-group-item-success"
                   href="{{ book.get_absolute_url }}">
                    {{ book.title }}
                </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
