{% extends 'base.html' %}

{% block title %}{{author.full_name}}{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="text-info">{{author.full_name}}</h2>
    <div class="list-group">
        {% for book in all %}
            {% if book.author.full_name == author.full_name %}
                <a class="list-group-item list-group-item-action list-group-item-info"
                   href="{% url 'book_detail' %}">
                    {{ book.title }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}