{% extends 'base.html' %}

{% block title %}تخفیف های امتیازی{% endblock title %}

{% block content %}
<br><br>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">کد تخفیف</th>
        <th scope="col">تاریخ شروع</th>
        <th scope="col">تاریخ انقضا</th>
        <th scope="col">مبلغ ماکسیموم</th>
        <th scope="col">درصد تخفیف</th>
        <th scope="col">تعداد استفاده مجاز</th>
        <th scope="col">فعال</th>
    </tr>
    </thead>
    <tbody>
    {% for bonus in object_list %}
    <tr>
        <th scope="row">{{ bonus.coupon }}</th>
        <td>{{ bonus.start_date }}</td>
        <td>{{ bonus.expire_date }}</td>
        <td>{{ bonus.amount }}</td>
        <td>{{ bonus.percent }}</td>
        <td>{{ bonus.limited_count }}</td>
        <td>{% if bonus.is_active %}
            +
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
